.custom-container {
  padding: 2%;
  border: 1px solid #f7f7f7; /* Цвет рамки */
  /* border-radius: 10px; Радиус закругления углов */
  background-color: #ffffff; /* Цвет фона */
  /* padding: 20px; Отступы внутри контейнера */
  /* margin-top: 20px; Отступ сверху */
}

body {
  background-color: #e6e9eb; /* Цвет фона за рамкой */
}

.form-group {
  display: block;
}

.custom-select-width,
.texts {
  width: 60%; /* Ширина списка */
}

#cascadeChangetext {
  width: 100%;
}

#changeIncProviders,
#cascadeChange,
#am_text {
  display: none;
}

#sendFormBtn {
  background-color: rgb(0, 187, 255);
  color: white;
  margin-bottom: 20px;
}
